%h1 Participants

%table#counters
  %thead
    %tr
      %th Person
      %th Count
      %th Updated
  %tbody
    - @counters.each do |c|
      %tr{:class => if( c.title == @highlited_title) then 'hilite' end}
        %td= c.title
        %td= c.count
        %td= c.updated_at.in_time_zone("Asia/Seoul")
%table
  %tr
    %td= button_to 'Pay', pay_path( params[:queue], :highlited_title => @highlited_title )
    %td= button_to 'Skip', skip_path( params[:queue], :highlited_title => @highlited_title )

